html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#myContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
#description {
  position:absolute;
  left:65%;
  top:20%;
  width:300px;
  color:rgb(224, 210, 191);
  background-color: rgba(155, 155, 155, 0.236);
  padding: 15px;
  margin-right: 5%;
  animation: fadein 3s linear;
  font-family: 'Noto Sans JP', sans-serif;

}
#description:hover{
  color:rgb(248, 222, 189);;
}
#head {
  font-size: 100px;
  font-weight:bolder;
  position: absolute;
  color:blanchedalmond;
  left:55%;
  top:10%;
  animation: fadeinout 2s ease-in-out;
	opacity: 0;
	display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
#head1{
  font-size: 60px;
  font-weight: bolder;
  position: fixed;
  color:blanchedalmond;
  left:3%;
  top:0%;
  animation: fadein 2.5s linear;
  display:inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
@keyframes fadeinout {
	0% {opacity:0;}
	40% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadein{
  0%{opacity:0}
  97%{opacity:0}
  100%{opacity:1}
}
@keyframes fadein{
  0%{opacity:0}
  70%{opacity:0}
  100%{opacity:1}
}
#button{
  position: fixed;
  left: 88%;
  top:96%;
  background-color: antiquewhite;
}



